<h1>Register Page</h1>

<form asp-action="Register" method="POST">
    <input type="text" name="username" />
    <input type="text" name="password" />
    <button type="submit">Register</button>
</form>